body{
    background-image: url(Valentines\ Day\ wallpaper.jpeg);
    background-size: cover;
}
h1{
    color: cornsilk;
    background-color: aqua;
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(90deg, red, blue, green, yellow, red) 1;
    animation: borderAnimation 4s linear infinite;
}
@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(90deg, red, blue, green, yellow, red);
    }
    25% {
        border-image-source: linear-gradient(90deg, blue, green, yellow, red, blue);
    }
    50% {
        border-image-source: linear-gradient(90deg, green, yellow, red, blue, green);
    }
    75% {
        border-image-source: linear-gradient(90deg, yellow, red, blue, green, yellow);
    }
    100% {
        border-image-source: linear-gradient(90deg, red, blue, green, yellow, red);
    }
}
h1:hover{
    background-color: darksalmon;
    color: rgb(255, 0, 225);
    font-size: 75px;
}
.container{
    height:300px;
    width: 899.2;
    display: flex;
    justify-content: center;
    
}
#a {
    height: 275px;
    width: 275px;
    border-radius: 30px;
    position: relative;
    overflow: hidden; /* Prevents overflow */
    box-shadow: 10px;
    border: solid palevioletred;
}

#a video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire div */
}
#button{
    margin-top: 350px;
   justify-content: center;
}
#yes{
    text-align: center;
    display: inline;
    margin-right: 15px;
    background-color: cyan;
    height: 120px;
    width: 120px;
    font-size: 30px;
    border: 1opx solid;
    color: rgb(230, 8, 156);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
#no{
    text-align: center;
    display: inline;
    font-size: 30px;
    background-color: white;
    height: 120px;
    width: 120px;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 10px;
}
button{
    height: 120px;
    width: 120px; 
    font-size: 30px;
    color: darkorchid;
    background-color: aqua;
    border: none;
    border-radius:10px ;
}
